<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome, {{ session.username }}</h1>

   
    <h2><strong>{{ "Alert: Furqan seems stressed!" if prediction == 1 else "Furqan seems fine." }}</strong></h2>
    
    <p>Smoke Counter: {{ smoke_counter }}</p> <!-- Display smoke counter -->
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
</body>
</html>